@import "config/fonts";
// @import "components/challenge-card.scss";


body {
  overflow-y: scroll;
}

.placeholder-search {
  position: absolute;
  font-family: roboto;
  opacity: 0.3;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 16px;
  left: 35px;
  transition: all 1s;
}

.search-field {
  background-color: unset;
  color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  outline: none;
  border: 1px solid black;
  // width: 25vw;
  letter-spacing: 0.1em;
  font-size: 25px;
  transition: all 0.3s;
  // opacity: 0.5;
}

.search-field:focus {
  outline: 1.5px solid rgba(0, 0, 0, 0.85);
  // background-color: white;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  // overflow: hidden;
}



a {
  text-decoration: none;
}

.main-header {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  font-size: 36px;
  opacity: 0.85;
  letter-spacing: 0.05em;
  text-align: center;
}

.search-wrapper {
  position: relative;
  height: 150px;
  // width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid black;
}

.search-wrapper img {
  padding-bottom: 1%;
  position: absolute;
  left: 10px;
  opacity: 0.3;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
  font-weight: 100;
  font-size: 14px;
}

#white-space {
  width: 100%;
  height: 100px;
}



