.back {
  filter: invert(100%) sepia(3%) saturate(590%) hue-rotate(242deg) brightness(117%) contrast(100%);
  position: fixed;
  z-index: 10;
  top: 4vh;
  left: 4vw;
  opacity: 0.5;
}

#back-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
    .back {
      position: unset;
      margin-top: 2vh;
    }
} 

// a:hover + #back-text {
//   display: block;
// }

.back:hover {
  opacity: 0.85;
}

// #back-text {
//   display: none;
//   font-size: 24px;
//   color: white;
//   font-family: zilla slab;
//   font-weight: lighter;
//   position: fixed;
// 	top: 8vh;
//   left: 3.5vw;
// }

