.back {
  filter: invert(100%) sepia(3%) saturate(590%) hue-rotate(242deg) brightness(117%) contrast(100%);
  position: fixed;
  z-index: 10;
  top: 100px;
  left: 100px;
}

a:hover + #back-text {
  display: block;
}

#back-text {
  display: none;
  font-size: 24px;
  color: white;
  font-family: zilla slab;
  font-weight: lighter;
  position: fixed;
  top: 84px;
  left: 160px;
}

