@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  width: 75vw;
}

.challenge-card {
  // background-color: black;
  color:black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-info {
  flex-grow:2;
  display: flex;
  align-items: flex-end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.challenge-card img {
  max-width: 100%;

}

.card-image-holder {
  width: 100%;
  background-color: red;
  overflow: hidden;
}



.main-header {
  height: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Zilla Slab";
  font-weight: bold;
  font-size: 36px;;
}

.search-wrapper {
  height: 15vh;
  width: 75vw;
  border: 1px solid black;
}
