<div class="keys">
  <div data-key="65" class="key">
    <kbd>A</kbd>
    <span class="sound">clap</span>
  </div>
  <div data-key="83" class="key">
    <kbd>S</kbd>
    <span class="sound">hihat</span>
  </div>
  <div data-key="68" class="key">
    <kbd>D</kbd>
    <span class="sound">kick</span>
  </div>
  <div data-key="70" class="key">
    <kbd>F</kbd>
    <span class="sound">openhat</span>
  </div>
  <div data-key="71" class="key">
    <kbd>G</kbd>
    <span class="sound">boom</span>
  </div>
  <div data-key="72" class="key">
    <kbd>H</kbd>
    <span class="sound">ride</span>
  </div>
  <div data-key="74" class="key">
    <kbd>J</kbd>
    <span class="sound">snare</span>
  </div>
  <div data-key="75" class="key">
    <kbd>K</kbd>
    <span class="sound">tom</span>
  </div>
  <div data-key="76" class="key">
    <kbd>L</kbd>
    <span class="sound">tink</span>
  </div>
</div>

<audio data-key="65" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625340/clap_iudqps.wav"></audio>
<!-- <audio data-key="65" src="/assets/clap.wav"></audio> -->
<audio data-key="83" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625339/hihat_uu2gz4.wav"></audio>
<audio data-key="68" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625337/kick_kkcmft.wav"></audio>
<audio data-key="70" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625339/openhat_qdsval.wav"></audio>
<audio data-key="71" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625339/boom_zdmyxj.wav"></audio>
<audio data-key="72" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625343/ride_y07qw1.wav"></audio>
<audio data-key="74" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625339/snare_g1f0fv.wav"></audio>
<audio data-key="75" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625341/tom_rrc2vy.wav"></audio>
<audio data-key="76" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1614625338/tink_bdu1m9.wav"></audio>

<style>
  
  html {
  font-size: 10px;
  <%# background: url("https://source.unsplash.com/naFHFLV5cqU") bottom center; /* that's it!! */ %>
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255,  0.2)), url("https://source.unsplash.com/IW5Bm4rB9OA");
  }

  body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  }

  .keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  }

  .key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .2s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: #ff9d00;
  <%# text-shadow: 0 0 .5rem black; %>
  cursor: pointer;
  margin-bottom: 250px;
  }

  .playing {
  transform: scale(1.1);
  border-color: white;
  box-shadow: 0 0 1rem #ff9d00;
  }

  kbd {
  display: block;
  font-size: 4rem;
  }

  .sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  <%# color: #ff9d00; %>
  }

  @media only screen and (max-width: 1500px) {   
    .back {
      filter: none;
      opacity: 0.7;
    }
  }

</style>


