<script type="text/javascript" src="https://www.cornify.com/js/cornify.js"></script>

<div id="info-12">
  <p class="text">type the secret code into your keyboard!</p>
  <p class="text">hint: it is a yellow fruit - if correct you will notice!</p>
  <p class="text">you can do it as often as you want ;)</p>
</div>

<style>
  #info-12 {
    display: block;
    opacity: 1;
    font-family: courier new;
    position: fixed;
    left: 10%;
    bottom: 20%;
  }

  #info-12 .text {
    opacity: 1;
  }

  #back-text {
    color: black;
  }

  .back {
    filter: none;
  }
</style>