<script type="text/javascript" src="https://www.cornify.com/js/cornify.js"></script>

<div id="info-box">
  <p class="text">type the secret code!</p>
  <p class="text">hint: it is a yellow fruit ;)</p>
</div>

<style>
  #info-box {
    display: block;
    opacity: 1;
  }

  #info-box .text {
    opacity: 1;
  }

  #back-text {
    color: black;
  }

  .back {
    filter: none;
    opacity: 0.85;
  }
</style>