<body>
  <p class="message">just click on the mic and speak</p>
  <div class="container"> 

    <%# <i id="record" class="fas fa-microphone"></i> %>
    <%= inline_svg_tag "microphone.svg", size: "40", class: "listen-button" %>

    <div class="gap"></div>

    <div class="words"></div>

  </div>
<script type="text/javascript" src="20.js">
  


</script>


  <style>

    .message {
      <%# position: absolute; %>
      font-family: 'Courier New', Courier, monospace;
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
    }

    .hide {
      color: white ;
      display: block !important;
    }

    html {
      font-size: 10px;
    }

    body {
      background: rgb(255,255,255, 0.9);
      font-family: 'helvetica neue';
      font-weight: 200;
      font-size: 20px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
    }

    .listen-button {
      width: 50px;
      transition: all 0.3s;
    }

    .words {
      <%# width: 0px; %>
      max-width: 500px;
      margin: 50px auto;
      background: white;
      border-radius: 2px;
      <%# padding: 1rem 2rem 1rem 5rem; %>
      <%# background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px; %>
      background-size: 100% 3rem;
      position: relative;
      line-height: 3rem;
      outline: none;
      transition: border 0.5s;
      text-align: center;
    }

    @keyframes border-pulse {
      0% {
        border-color: white;
      }

      50% {
        border-color: black;
      }

      100% {
        border-color: white;
      }
    }

    .active {
      color: #f04141;
    }

    .gap {
      width: 0px;
      transition: all 0.8s;
      margin-top: 40px;
      border-top: 2px black solid;
      color: transparent;
    }


    .texting {
      width: 200px;
      animation: border-pulse 2s alternate ease-in-out infinite;
      <%# animation: border-pulse 1.5s alternate ease-in-out infinite; %>
    }

    p {
      margin: 0 0 3rem;
    }

    .back {
    filter: none;
    }
    
  </style>

</body>