<style>
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    font-size: 10px;
    background: rgb(5,0,0,0.85);
    <%# background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("https://source.unsplash.com/pPA5ActWLLI/"): %>
    <%# background: url("https://source.unsplash.com/pPA5ActWLLI/"); /* that's it!! */ %>
    <%# background-repeat: no-repeat; %>
    background-size: cover;
  }

  .controls {
    padding: 20px;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
  }

  .rgb {
    min-width: 440px;
    <%# margin-top: 10px; %>
  }

  .ghosting-setting {
    margin-top:10px;
  }

  .ghosting-setting label {
    margin-left: 20px;
  }
  

  .photobooth {
    background: white;
    width: 40%;
    min-width: 480px;
    margin: 2rem auto;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    font-family: courier new;
    font-size: 18px;
    
  }

  /*clearfix*/
  .photobooth:after {
    content: '';
    display: block;
    clear: both;
  }

  #photo {
    width: 210px;
    float: left;
    color: white;
    background-color: #FF0101;
    <%# border-color: red; %>
    border: 2px #FF0101 solid;
    border-radius: 2px;
    <%# border-style: none; %>
    cursor: pointer;
    transition: all 0.2s;
    font-family: roboto;
    margin-top: 10px;
  }

  #red {
    width: 100px;
    float: left;
    color: white;
    border: 2px black solid;
    border-radius: 2px;
    background-color: black;
    <%# border-color: red; %>
    <%# border-style: none; %>
    cursor: pointer;
    transition: all 0.2s;
    font-family: roboto;
    margin-top: 10px;
  }

  #split {
    width: 100px;
    float: left;
    background: none;
    border: 2px black solid;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 10px;
    padding: 0;
  }


  #rainbow-text {
    font-weight: 800;
    margin: 0;
  }

  #rainbow-text:hover {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

   #split:active {
    opacity: 0.5;
  }

  #photo:focus {
    outline: none;
  }

  #red:focus {
    outline: none;
  }

  #photo:active {
    opacity: 0.5;
  }

  #red:active {
    opacity: 0.5;
  }


  .player {
    position: absolute;
    top: 20px;
    right: 20px;
    width:200px;
  }

  /*
    Strip!
  */

  .strip {
    padding: 2rem;
  }

  .strip img {
    width: 100px;
    overflow-x: scroll;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background: white;
  }

  .strip a:nth-child(5n+1) img { transform: rotate(10deg); }
  .strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
  .strip a:nth-child(5n+3) img { transform: rotate(8deg); }
  .strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
  .strip a:nth-child(5n+5) img { transform: rotate(12deg); }

  <%# input {
    margin-left: 50px;
  } %>

  input[type='range'] {
    width: 100px;
    height: 10px;
  }

  p {
    margin: unset;
  }

  .buttons > button {
    margin-right: 10px;
  } 

  .buttons {
    margin-top: 20px;
  }

  .ghosting-input {
    width: 80px !important;
  }

</style>

<body>

  <div class="photobooth">
    <div class="controls">
       <p>take specific color ranges out:</p>
       <div class="rgb">
        <label for="rmin">red Min</label>
        <input type="range" min=0 max=255 name="rmin">
        <label for="rmax">red Max</label>
        <input type="range" min=0 max=255 name="rmax">

        <br>

        <label for="gmin">green Min</label>
        <input type="range" min=0 max=255 name="gmin">
        <label for="gmax">green Max</label>
        <input type="range" min=0 max=255 name="gmax">

        <br>

        <label for="bmin">blue Min</label>
        <input type="range" min=0 max=255 name="bmin">
        <label for="bmax">blue Max</label>
        <input type="range" min=0 max=255 name="bmax">
      </div>
      
      <div class="buttons">
        <button id="red">red effect</button>
        <button id="split"><p id="rainbow-text">split effect</p></button>
        <div class="ghosting-setting">
          <label for="ghosting">ghosting</label>
          <input class="ghosting-input" type="range" min=1 max=99 name="ghosting" value="1">
        </div>
      </div>
      <button id="photo">take photo</button>
      
    </div>

    <canvas class="photo"></canvas>
    <video class="player"></video>
    <div class="strip"></div>
  </div>

  <audio class="snap" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1615978101/snap_vb4sxp.mp3" hidden></audio>


</body>