<style>
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    font-size: 10px;
    background: rgb(5,0,0,0.85);
    <%# background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("https://source.unsplash.com/pPA5ActWLLI/"): %>
    <%# background: url("https://source.unsplash.com/pPA5ActWLLI/"); /* that's it!! */ %>
    <%# background-repeat: no-repeat; %>
    background-size: cover;
  }

  .photobooth {
    background: white;
    width: 75%;
    margin: 2rem auto;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
  }

  /*clearfix*/
  .photobooth:after {
    content: '';
    display: block;
    clear: both;
  }

  .photo {
    width: 100%;
    float: left;
  }

  .player {
    position: absolute;
    top: 20px;
    right: 20px;
    width:200px;
  }

  /*
    Strip!
  */

  .strip {
    padding: 2rem;
  }

  .strip img {
    width: 100px;
    overflow-x: scroll;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background: white;
  }

  .strip a:nth-child(5n+1) img { transform: rotate(10deg); }
  .strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
  .strip a:nth-child(5n+3) img { transform: rotate(8deg); }
  .strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
  .strip a:nth-child(5n+5) img { transform: rotate(12deg); }

</style>

<body>

  <div class="photobooth">
    <div class="controls">
      <button id="photo">Take Photo</button>
       <div class="rgb">
        <label for="rmin">Red Min:</label>
        <input type="range" min=0 max=255 name="rmin">
        <label for="rmax">Red Max:</label>
        <input type="range" min=0 max=255 name="rmax">

        <br>

        <label for="gmin">Green Min:</label>
        <input type="range" min=0 max=255 name="gmin">
        <label for="gmax">Green Max:</label>
        <input type="range" min=0 max=255 name="gmax">

        <br>

        <label for="bmin">Blue Min:</label>
        <input type="range" min=0 max=255 name="bmin">
        <label for="bmax">Blue Max:</label>
        <input type="range" min=0 max=255 name="bmax">
      </div>
    </div>

    <canvas class="photo"></canvas>
    <video class="player"></video>
    <div class="strip"></div>
  </div>

  <audio class="snap" src="https://res.cloudinary.com/dbuzojczr/video/upload/v1615978101/snap_vb4sxp.mp3" hidden></audio>


</body>