<body>
  <main>
    <section class="landing">
      <button class="all">Alle Kategorien</button>
    </section>
    <section class="overlay">

      <article class="categories">
        <header>
          <input type="image" class="close" src="https://res.cloudinary.com/dbuzojczr/image/upload/v1620316042/close3_kzhpdr.svg" alt="close overlay" width="23" height="22">
          <h2>Alle Kategorien</h2>
        </header>
        <section class="categories-main">
          <section class="categories-selection">
            <a data-cat="career" href="#">Karrierewege</a>
            <a data-cat="promotion" href="#">Promotion</a>
            <a data-cat="habilitation" href="#">Habilitation</a>
            <a data-cat="juniorprof" href="#">Juniorprofessur</a>
            <a data-cat="appeal" href="#">Berufungs-<br>verfahren</a>
            <a data-cat="workplace" href="#">Arbeitsplatz</a>
            <a data-cat="family" href="#">Familie, Partnerschaft, Alltag</a>
            <a data-cat="mobility" href="#">Mobilität</a>
            <a data-cat="foreign" href="#">Blick aus dem Ausland</a>
            <a data-cat="general" href="#">Allgemein</a>
          </section>
          <section class="category-content">
            <article class="category-content-default visible">
              <h3>Bitte wählen Sie eine Kategorie oder eine Textsorte aus.</h3>
            </article>

            <article class="category-content-career invisible">
              <h3>Karrierewege</h3>
              <p>Der Weg zur Professur ist nicht nur steinig, sondern auch vielfältig: befristete oder unbefristete
                Stellen, Stellen an
                Universitäten oder außeruniversitären Forschungseinrichtungen, Stellen im In- oder Ausland, Stipendien,
                Nachwuchsgruppen
                - welcher Weg lässt sich am besten mit Familie und Partnerschaft vereinbaren? Was sind die
                Voraussetzungen dafür, dass
                sich wissenschaftliche Karriere auf der einen Seite und Familie und Partnerschaft auf der anderen Seite
                unter einen Hut
                bringen lassen?</p>
            </article>

            <article class="category-content-promotion invisible">
              <h3>Promotion</h3>
              <p>Um zur Promotion zugelassen zu werden, muss ein erster Hochschulabschluss nachgewiesen werden;
                lediglich in Medizin kann
                bereits vor Abschluss des Studiums mit einer Dissertation begonnen werden. In der Regel ist dies der
                Master, der
                Magister, das Diplom oder das Staatsexamen. Besonders qualifizierte Absolventen eines Bachelorstudiums
                oder eines
                Diplomstudiums einer Fachhochschule können unter bestimmten Voraussetzungen ebenfalls zur Promotion
                zugelassen werden.</p>
            </article>

            <article class="category-content-habilitation invisible">
              <h3>Habilitation</h3>
              <p>Die Anerkennung der Lehrbefähigung bildet die Voraussetzung für die Erteilung der Lehrberechtigung, die
                auch
                Lehrerlaubnis, Lehrbefugnis oder venia legendi (aus dem Lateinischen für „Erlaubnis vorzulesen“ [=
                Vorlesungen zu
                halten, d. h. zu lehren]) genannt wird. Im Unterschied zur Lehrbefähigung ist sie oftmals an die
                Einhaltung regelmäßiger
                Lehrverpflichtungen gebunden (Titellehre). Mit der Habilitation soll geprüft werden, ob der
                Wissenschaftler sein Fach in
                voller Breite in Forschung und Lehre vertreten kann.</p>
            </article>

            <article class="category-content-juniorprof invisible">
              <h3>Juniorprofessur</h3>
              <p>Die Juniorprofessur ist eine Amtsbezeichnung für eine Stelle im Lehrkörper einer deutschen Hochschule.
                Diese Position in
                der Gruppe der Hochschullehrer wurde 2002 mit der fünften Novelle des deutschen Hochschulrahmengesetzes
                eingeführt, um
                jungen Wissenschaftlern mit herausragender Promotion ohne die bisher übliche Habilitation direkt
                unabhängige Forschung
                und Lehre an Hochschulen zu ermöglichen. Eine Juniorprofessur wird in der Regel nach W 1 besoldet und
                soll bei positiver
                Zwischenevaluation für die Berufung auf eine Lebenszeitprofessur (W 2 oder W 3) qualifizieren.</p>
            </article>

            <article class="category-content-appeal invisible">
              <h3>Berufungsverfahren</h3>
              <p>Das Vorschlagsrecht geht auf Art. 5 Abs. 3 GG zurück, das die Freiheit von Forschung und Lehre gewährt.
                Eine Berufung
                ist ausnahmsweise auch aufgrund eines „Sondervotums“ möglich, das im Gegensatz zum Senatsvorschlag steht
                (dies geschieht
                nur dann, wenn sich die Kommission nicht auf eine Liste einigen konnte). In katholisch-theologischen
                Fachbereichen ist
                wegen der Ausbildung der Geistlichen auf Basis der Konkordate die Zustimmung des Ortsbischofs notwendig
                (siehe auch
                Konkordatslehrstuhl).</p>
            </article>

            <article class="category-content-workplace invisible">
              <h3>Arbeitsplatz</h3>
              <p>Als Wirtschaftseinheiten mit Arbeitsplätzen kommen Unternehmen aller Art (Unternehmen mit privater
                Rechtsform,
                öffentliche Unternehmen, Non-Profit-Organisationen), die öffentliche Verwaltung (etwa Behörden) und
                sonstige
                Organisationen (etwa Stiftungen) in Betracht. Sie können ihre Ziele nur erfüllen, wenn sie Arbeitsplätze
                einrichten und
                Personal einstellen, das dort seine zugeteilten Arbeitsaufgaben erledigt. Der Arbeitsplatz ist stets
                personenbezogen,
                während die Stelle rein sachbezogen ist[1] und nur ein organisatorisches Gebilde als kleinste
                Organisationseinheit
                darstellt.</p>
            </article>

            <article class="category-content-family invisible">
              <h3>Familie, Partnerschaft, Alltag</h3>
              <p>Zu klären ist nicht nur die Frage, ob eine bestimmte soziale Kleingruppe eine Familie bildet, sondern
                auch, wer zu einer
                Familie gehört. Die meisten Definitionen von Soziologen und Wirtschaftswissenschaftlern gehen davon aus,
                dass das
                Zusammenleben in einem gemeinsamen Haushalt (dem „Familienhaushalt“) ein Wesensmerkmal einer Familie
                darstellt.</p>
            </article>

            <article class="category-content-mobility invisible">
              <h3>Mobilität</h3>
              <p>Zur Mobilität gehört die Möglichkeit und Bereitschaft zur Bewegung.[2] Im Verkehr zeigt sich die
                realisierte Mobilität.
                Beide Begriffe lassen sich nicht gleichsetzen, da Mobilität die individuellen Motive und Hintergründe
                stärker betont.[3]
                Verkehrserziehung und Mobilitätserziehung behandeln entsprechend unterschiedliche Aspekte des
                Verkehrslebens.</p>
            </article>

            <article class="category-content-foreign invisible">
              <h3>Blick aus dem Ausland</h3>
              <p>Ausland steht im Gegensatz zu Inland und bezeichnet aus Sicht der sprechenden Person ein anderes Land
                (und „aus einem
                anderen Land“) als das eigene Land, in dem man beheimatet ist, das Herkunftsland, Heimatland.</p>
            </article>

            <article class="category-content-general invisible">
              <h3>Allgemein</h3>
              <p>Das Wort gemein bezeichnet ursprünglich eine Eigenschaft, die mehrere Menschen gemeinsam besaßen
                (Beispiel: „all diesen
                Leuten ist die Muttersprache Deutsch gemein“). Es ist verwandt mit dem lateinischen communis/commune und
                dem englischen
                mean (bzw. indirekt common).</p>
            </article>

          </section>
        </section>
      </article>

    </section>
  </main>

</body>

<style>
  body {
    font-family: 'Roboto', sans-serif;
    --main-color: #c03e4f; 
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .landing {
    position: absolute;
  }

  <%# buttons %>

  button.all {
    border: 5px solid var(--main-color);
    background-color: unset;
    color: var(--main-color);
    font-size: 19px;
    font-weight: 700;
    /* border: unset; */
    height: 87px;
    width: 197px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s;
  } 

  button.all:focus {
    outline: unset;
  }

  button.all:hover {
    opacity: 0.8;
  }

  <%# categories %>

  .categories h3 {
    font-size: 21px;
    margin-bottom: 9px;
  }

  .categories h2 {
    color: white;
    font-size: 21px;
    margin-bottom: 5px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }

  header {
    position: relative;
  }

  .categories-main {
    display: flex;
    width: 816px;
    height: 450px;
  }

  .categories-selection {
    display: grid;
    height: 100%;
    width: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 12px;
    row-gap: 10px;
  }

  .categories-selection a {
    padding: 10px;
    height: 52px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    background-color: white;
    font-size: 15px;
    cursor: default;
    transition: all 0.2s;
    border: 5px solid white;
  }

  .categories-selection a:hover {
    border: 5px solid var(--main-color);
  }

  .category-content {
    width: 60%;
    height: 100%-20px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 0 21px;
    margin-left: 10px;
  }

  .category-content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 0;
    padding-right: 20px;
  }

  .close {
    position: absolute;
    right: -23px;
    top: -24px;
    transition: all 0.5s;
    filter: invert(32%) sepia(15%) saturate(2790%) hue-rotate(305deg) brightness(105%) contrast(99%); /* white */
  }

  .close:hover {
    filter: invert(32%) sepia(15%) saturate(2790%) hue-rotate(305deg) brightness(105%) contrast(99%);
    transform: rotate(180deg);
  }

  .invisible {
    display: none;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: #7f8e939a;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: all 0.5s;
    /* opacity: 0; */
  }

  .on {
    display: flex;
    opacity: 0;
  }

  .opacity {
    opacity: 1;
  }

  .back {
    filter: none;
  }


  @media only screen and (max-width: 480px) {
    .categories {
      width: 90%;
      min-width: 300px;
    }
    
    .categories-main {
      flex-direction: column-reverse;
    }

    .categories-main {
      width: unset;
      height: unset;
      align-items: center;
    }

    .categories-selection {
      width: unset;
      grid-template-columns: minmax(90px, 120px) minmax(90px, 120px) minmax(90px, 120px);
      height: unset;
    }

    .categories-selection a {
      height: 50px;
      font-size: 10px;
    }

    .category-content {
      margin-left: 0;
      width: auto;
      margin-bottom: 10px;
      height: 200px;
      overflow: scroll;
    }

    .category-content p {
      font-size: 11px;
    }

    .categories h3 {
      font-size: 14px;
    }

    .overlay {
      align-items: unset;
      background-color: #b8c7cc;
      padding: 10px;
      position: absolute;
      width: 100%;
      height: 1000px;
      top: 0;
    }

    header {
      text-align: left;
    }

    main {
      align-items: unset;
      width: 100%;
    }

    button.all {
      margin-bottom: 300px;
    }

    .close {
      right: 0px;
      top: 14px;
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    .categories {
      width: 90%;
      min-width: 300px;
      justify-content: center;
    }
    
    .categories-main {
      flex-direction: column-reverse;
    }

    .categories-main {
      width: unset;
      height: unset;
      align-items: center;
    }

    .categories-selection {
      width: unset;
      grid-template-columns: 200px 200px 200px;
      height: unset;
    }

    .category-content {
      margin-left: 0;
      width: 582px;
      margin-bottom: 10px;
      height: 300px;
      overflow: scroll;
    }

    .overlay {
      align-items: unset;
      background-color: #b8c7cc;
      padding: 10px;
      position: absolute;
      width: 100%;
      height: 1000px;
      top: 0;
    }

    header {
      margin: 5%;
    }

    main {
      align-items: unset;
      width: 100%;
    }

    button.all {
      margin-bottom: 600px;
    }

    .close {
      right: 0px;
      top: 14px;
    }

  }

</style>