<body class="bod">

click on the divs :)
  <div class="one">one
    <div class="two">two
      <div class="three">three
      </div>
    </div>
  </div>


<button id="click">you can only click me once</button>
<section>
  <button class="bubble">bubbling</button>
  <output class="bubbleOut"> on</output>
</section>
<!-- <section>
  <button class="capture">capture</button>
  <output class="captureOut">off</output>
</section> -->

<style>
  html {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
  *, *:before, *:after { 
    box-sizing: inherit; 
  }

  div {
    width: 100%;
    padding: 100px;
  }

  .one {
    background: thistle;
  }

  .two {
    background: mistyrose;
  }

  .three {
    background: coral;
  }



  button {
    background-color: rgb(27, 27, 27);
    outline: none;
    color: white;
    border: none;
    padding: 5px;
    margin: 10px;
    margin-left: 40px;
  }

  #click {
    margin-top: 40px;;
  }

  button:active {
    background-color: rgb(80, 80, 80);
  }

  .bubble {
  
  }

  .capture {
  
  }



</style>

</body>