
<p class="message">You Can draw with your mouse :)</p>

<canvas id="draw" width="800" height="800">
  
</canvas>

<style>
  html,
  body {
    margin: 0;
  }

  .message {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding-left: 10%;
  }
  
  .hide {
    display: none;
  }


#back-text {
    color: black;
  }

  .back {
    filter: none;
  }

</style>