@import "config/fonts";


.card-number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.card-name {
  height: 90%;
  padding-left: 3%;
}



.challenge-card {
  // background-color: black;
  color:black;
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 0.7 !important;
  transition: all 0.8s;
  outline: 3px solid white;
}

.challenge-card:hover {
  opacity: 0.85 !important;
  // box-shadow: 0px 0px 70px 10px #cccccc;
  outline: 3px solid rgba(0, 0, 0, 0.85);
}


.card-info {
  flex-grow:2;
  display: flex;
  align-items: flex-end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px !important;
  z-index: 10;
}

.challenge-card img {
  max-width: 100%;
  max-height: 100%;

}

.card-image-holder {
  width: 100%;
  height: 100%;
  // background-color: red;
  overflow: hidden;
}

.cards-container {
  margin-top: 3%;
  transition: all 0.8s;
}

@media only screen and (max-width: 599px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 75vw;
    // column-gap: 5%; 
    row-gap: 40px;
    position: sticky;
    top: 30vh;
  }
}

@media only screen and (min-width: 600px ) {
	.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75vw;
    column-gap: 5%;
    row-gap: 2%;
    position: sticky;
    top: 30vh;
  }
}

@media only screen and (min-width: 980px ) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75vw;
    column-gap: 5%;
    row-gap: 2%;
    position: sticky;
    top: 30vh;
  }
}

@media only screen and (min-width: 1260px ) {
 .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75vw;
  column-gap: 5%;
  row-gap: 4%;
  position: sticky;
  top: 30vh;
  }
}