.footer {
  // height: 5vh;
  background-color: white;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // align-self: flex-end;
  z-index: 10;
  opacity: 0.85;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 10px;
}

.info {
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 0.85;
}


#info-box .text {
  opacity: 0;
  transition: opacity 1s;
}

@media only screen and (max-width: 980px ) {
  #info-box {
    bottom: 200px;
    width: 50vw;
    display: none;
    padding: 100px;
    transition: all 1s;
    height: 25vh;
    z-index: 10;
    position: fixed;
    font-family: "Zilla Slab";
    line-height: 1.5;
    letter-spacing: 0.1rem;
  }
}

@media only screen and (min-width: 981px ) {
  #info-box {
    bottom: 100px;
    width: 25vw;
    display: none;
    padding: 100px;
    transition: all 1s;
    height: 25vh;
    z-index: 10;
    position: fixed;
    font-family: "Zilla Slab";
    line-height: 1.5;
    letter-spacing: 0.1rem;
  }
}
